md-nav-bar {

    .md-nav-bar {
        background-color: $primary-color;
    }

    .nav-button {
        .md-active {
            background-color: $accent-colour;
            color: white;

            &:hover {
                background-color: $accent-colour;
                color: white;
            }
        }
    }
}
