<md-card class="md-padding">
    <md-card-title-text>
        <h1>{{vm.title}}</h1>
    </md-card-title-text>
    <md-card-actions ng-if="!vm.activeGroup">
        <h3>Select a group</h3>
        <div class="" layout="row" layout-align="center none">
            <div class="" ng-repeat="group in vm.locationGroups()">
                <md-button type="button"
                        name="button"
                        class="filter-button"
                        ng-click="vm.uniqueGroupValues(group)">
                        {{group}}
                </md-button>
            </div>
        </div>
    </md-card-actions>
    <md-card-actions ng-if="vm.activeGroup">
        <div class="" layout="row" layout-align="right center">
            <h3 flex>Select a value</h3>
            <md-button type="button"
                    flex="50"
                    flex-offset="50"
                    ng-if="vm.activeGroup"
                    name="button"
                    id="reset-button"
                    class="md-raised md-warn"
                    ng-click="vm.reset()">
                    Reset
            </md-button>
        </div>
        <div class="" layout="row" layout-align="center none">
            <div class="" ng-repeat="subgroup in vm.filterValues">
                <md-button type="button"
                        name="button"
                        class="sub-filter-button"
                        ng-click="vm.filterGroup(subgroup)">
                        {{subgroup}}
                </md-button>
            </div>
        </div>
    </md-card-actions>
    <md-card-content>
            <md-list flex>
                <md-subheader class="md-no-sticky">Locations</md-subheader>
                <md-list-item ng-repeat="location in vm.filteredLocations" class="md-3-line" ng-click="null">
                  <div class="md-list-item-text" layout="column">
                    <h3>{{ location.country }}</h3>
                    <h4>{{ location.city }}</h4>
                    <p>{{ location.address }}</p>
                  </div>
                </md-list-item>
                <md-divider ></md-divider>
            </md-list
        </div>
    </md-card-content>
</md-card>
