<md-card class="md-padding">
    <md-card-title-text>
        <h1>{{vm.title}}</h1>
    </md-card-title-text>
    <md-card-actions>
        <h3>Select a group</h3>
        <div class="" layout="row">
            <div class="" ng-repeat="group in vm.locationGroups()">
                <md-button type="button"
                        name="button"
                        class="filter-button"
                        ng-click="vm.uniqueGroupValues(group)">
                        {{group}}
                </md-button>
            </div>
        </div>
    </md-card-actions>
    <md-card-actions>
        <h3>Select a value</h3>
        <div class="" layout="row">
            <div class="" ng-repeat="subgroup in vm.filterValues">
                <md-button type="button"
                        name="button"
                        class="sub-filter-button"
                        ng-click="vm.filterGroup(subgroup)">
                        {{subgroup}}
                </md-button>
            </div>
        </div>
    </md-card-actions>
    <md-card-content>
        <ng-map zoom="10"
                center="[3.1390, 101.6869]"
                zoom-to-include-markers="auto">
            <marker ng-repeat="location in vm.filteredLocations"
                    position="[{{location.lat}}, {{location.lng}}]"
                    title="hello"></marker>
        </ng-map>
    </md-card-content>
</md-card>
