.sub-filter-button.md-button {

    &:hover {
        background-color: $accent-colour;
        color: white;
    }

}

.filter-button.md-button {

    &:hover {
        background-color: $accent-colour;
        color: white;
    }

}
